{{ partial "user/_generateLink" }}
<div class="rcue-dialog">
  <header>
    <h1>
       Add a user
    </h1>
  </header>
  <div class="rcue-dialog-inner">
     <form id="user" {{action enroll controller target="controllers.userIndex" on="submit" }}>
     <fieldset>
       <p>
         <label>Login Name</label>
         {{input type="text" valueBinding="loginName" classNames="topcoat-text-inputs"}}
       </p>
       <p>
        <label>Role</label>
        <br>
        <label>
        {{view Ember.RadioButton name="role" value="developer"}}
        Developer
        </label>
        <br>
        <label>
        {{view Ember.RadioButton name="role" value="admin"}}
        Administrator
        </label>

       </p>
        <input type="submit" class="topcoat-button" value="Enroll">
     </fieldset>
     </form>
  </div>
</div>